* {
  font-size: 36px;
}

body {
  color: #0a141b;
}

h1 {
  text-align: center;
  font-size: 2.5em;
}

table {
  background-color: #f6efeb;
  width: 90%;
  margin: 0 5%;
}

tr {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 5%;
}

td {
  font-size: 2em;
  display: flex;
  align-items: center;
}

fieldset {
  border-style: none;
}

form {
  background-color: #f6efeb;
  margin: 0 5%;
  text-align: center;
}

input {
  width: 100%;
  font-size: 1.75em;
  border-style: none;
  background-color: #f6efeb;
  margin: 0.5em 0;
}

button {
  font-size: 1em;
}

#addItem {
  color: #f6efeb;
  font-size: 1.5em;
  padding: 0.5em 1em;
  width: 100%;
  background-color: #216689;
  border: solid 5px #0a141b;
}
